/*
-----------------------------------------------
Style Name       : Anime DTUP
Style Designer   : DTUP Games
Owner Url   	 : www.dtupgames.com
----------------------------------------------- */
.Anime{
    background: #01BCF3;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    z-index: 10;
    color: #fff;
    font-size: .8rem;
    text-transform: uppercase;
    padding: 0.1rem 1rem;
    border-radius: 10px;
}
.Serie{
    background: #4375eb;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    z-index: 10;
    color: #fff;
    font-size: .8rem;
    text-transform: uppercase;
    padding: 0.1rem 1rem;
    border-radius: 10px;
}
.Película{
    background: #FD3246;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    z-index: 10;
    color: #fff;
    font-size: .8rem;
    text-transform: uppercase;
    padding: 0.1rem 1rem;
    border-radius: 10px;
}
.Especial{
    background: #3f51b5;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    z-index: 10;
    color: #fff;
    font-size: .8rem;
    text-transform: uppercase;
    padding: 0.1rem 1rem;
    border-radius: 10px;
}
.language-Lat{
    background: #00bcd4;
        position: absolute;
    top: .5rem;
    left: .5rem;
    z-index: 10;
    color: #fff;
    font-size: .8rem;
    text-transform: uppercase;
    padding: 0.1rem 1rem;
    border-radius: 3px;
}

.language-Cast{
    background: #e83030;
        position: absolute;
    top: .5rem;
    left: .5rem;
    z-index: 10;
    color: #fff;
    font-size: .8rem;
    text-transform: uppercase;
    padding: 0.1rem 1rem;
    border-radius: 3px;
}

.language-Sub{
    background: #009688;
    position: absolute;
    top: .5rem;
    left: .5rem;
    z-index: 10;
    color: #fff;
    font-size: .8rem;
    text-transform: uppercase;
    padding: 0.1rem 1rem;
    border-radius: 3px;
}
.presequel {
padding-top: 1rem;
margin-top: 0.5rem;
border-top: 1px solid rgba(0, 0, 0, 0.1);
text-decoration: none;
color: rgba(0, 0, 0, 0.75);
font-weight: 700;}
.presequel:hover, .presequel:focus, .presequel:active {
text-decoration: none;}
.presequel span {
margin-left: .5rem;
color: rgba(0, 0, 0, 0.4);}
.presequel::before {
padding: 3px;
background: #03A9F4;
margin-right: .5rem;
border-radius: 50%;
color: #fff;
font-size: 10px;
}
.Lettre:hover {
    color: white;
    background: #b8042d;
}
.Lettre {
    padding: 0.5rem 0.9rem;
    background: #d61d47;
    border-radius: 10px;
    color: white;
    display: inline-block;
    margin: 1px;
}
.titulo-forpage {
    font-size: 1.3rem;
    border-radius: 4px;
    font-weight: 500;
    background: #000;
    color: #fff;
}
.Nosteallink_DTUP {
    background: rgb(155, 155, 155, 0.29);
    padding: 1.9rem 1.9rem;
    font-size: 1.15rem;
    margin: 1rem 0rem;
    text-align: justify;
    border-radius: 4px;
}
